// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #398CBF;
  --ion-color-secondary: #245473;
  --ion-color-tertiary: #3F768C;
  --ion-color-success: #89CAD9;
  --ion-color-dark: #152526;
}
