
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToLogin()" fill="clear">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success" class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-input formControlName="name" type="text" class="back-black" label="Nombre" label-placement="floating" fill="solid" placeholder="Nombre"></ion-input>
    @if (submitted && f['name'].errors) {
      <div class="error-message">
        @if (f['name'].errors['required']) {
          <small>El nombre es requerido.</small>
        }
      </div>
    }
    <div class="ion-padding-vertical">
      <ion-input type="email" class="back-black" label="Correo" label-placement="floating" fill="solid" placeholder="ejemplo@gmail.com" formControlName="email"></ion-input>
      @if (submitted && f['email'].errors) {
        <div class="error-message">
          @if (f['email'].errors['required']) {
            <small>El email es requerido.</small>
          }
          @if (f['email'].errors['email']) {
            <small>El email no es válido.</small>
          }
        </div>
      }
    </div>
    <div>
      <ion-input type="password" class="back-black" label="Contraseña" type="password" label-placement="floating" fill="solid" placeholder="Contraseña" formControlName="password"></ion-input>
      @if (submitted && f['password'].errors) {
        <div class="error-message">
          @if (f['password'].errors['required']) {
            <small>La contraseña es requerida.</small>
          }
          @if (f['password'].errors['minlength']) {
            <small>Mínimo 6 caracteres.</small>
          }
        </div>
      }
    </div>
    <div class="ion-padding-vertical"></div>
    <ion-button expand="block" type="submit">Registrarse</ion-button>
  </form>
</ion-content>
